/* start variables */
:root
{
  --main-color: #19c8fa;
  --section-padding: 100px;
  --transparent-color: rgb(15 116 143 / 70%);
}
/* end variables */

/* start global rules */
*
{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html
{
  scroll-behavior: smooth;
}

body
{
  font-family: 'Open Sans', sans-serif;
}

.container
{
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* meduim */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* large */
@media (min-width: 1200px) {
  .container {
    width: 1179px;
  }
}
/* end global rules */

/* start components */
.main__heading
{
  text-align: center;
}

.main__heading h2
{
  font-size: 40px;
  position: relative;
  font-weight: normal;
  margin-bottom: 70px;
  text-transform: uppercase;
}

.main__heading h2::before
{
  left: 50%;
  content: '';
  height: 2px;
  width: 120px;
  bottom: -30px;
  position: absolute;
  background-color: #333;
  transform: translateX(-50%);
}

.main__heading h2::after
{
  left: 50%;
  content: '';
  width: 14px;
  height: 14px;
  bottom: -38px;
  position: absolute;
  border-radius: 50%;
  border: 2px solid #333;
  background-color: #fff;
  transform: translateX(-50%);
}

.main__heading p
{
  width: 550px;
  color: #777;
  line-height: 2;
  max-width: 100%;
  margin: 0 auto 100px;
}

/* end components */

/* start header */
header
{
  left: 0;
  z-index: 2;
  width: 100%;
  position: absolute;
}

header .container
{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

header .container::after
{
  left: 15px;
  content: '';
  height: 1px;
  bottom: -1px;
  position: absolute;
  width: calc(100% - 30px);
  background-color: #a2a2a2;
}

header .logo img
{
  width: 100px;
}

header nav
{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

header nav .toggle__menu
{
  color: #fff;
  font-size: 22px;
}

@media (min-width: 768px) {
  header nav .toggle__menu {
    display: none;
  }
}

header nav ul
{
  display: flex;
}

@media (max-width: 767px) {
  header nav ul {
    display: none;
  }
}

header nav .toggle__menu:hover + ul
{
  left: 0;
  top: 100%;
  width: 100%;
  display: flex;
  text-align: center;
  position: absolute;
  flex-direction: column;
  background-color: rgb(0 0 0 / 50%);
}

header nav .toggle__menu:hover + ul a
{
  padding: 15px;
}

header nav ul a
{
  color: #fff;
  display: block;
  font-size: 14px;
  transition: .6s;
  padding: 40px 20px;
  text-transform: capitalize;
}

header nav ul a.active,
header nav ul a:hover
{
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}

header nav .form
{
  width: 40px;
  height: 30px;
  margin-left: 30px;
  position: relative;
  border-left: 1px solid #fff;
}

header nav .form i
{
  top: 50%;
  right: 0;
  color: #fff;
  font-size: 20px;
  position: absolute;
  transform: translateY(-50%);
}

.landing
{
  min-height: 100vh;
  position: relative;
  background-size: cover;
  background-color: #1f2021;
  background-image: url(../images/landing.jpg);
}

.landing .overlay
{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgb(0 0 0 / 60%);
}

.landing .text
{
  left: 0;
  top: 50%;
  width: 50%;
  color: #fff;
  padding: 50px;
  display: flex;
  position: absolute;
  justify-content: flex-end;
  transform: translateY(-50%);
  background-color: var(--transparent-color);
}

@media(max-width: 767px) {
  .landing .text {
    width: 100%;
  }

  .landing .text .content {
    max-width: 100%;
  }
}

.landing .text .content
{
  max-width: 500px;
}

.landing .text .content h2
{
  font-size: 32px;
  line-height: 1.5;
  font-weight: normal;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.landing .text .content p
{
  line-height: 2;
  font-size: 14px;
}

.landing .change__background
{
  top: 50%;
  color: #ddd;
  position: absolute;
  transform: translateY(-50%);
}

@media(max-width: 767px) {
  .landing .change__background {
    display: none;
  }
}

.landing .fa-angle-left
{
  left: 40px;
}

.landing .fa-angle-right
{
  right: 40px;
}

.landing .bullets
{
  left: 50%;
  bottom: 30px;
  display: flex;
  position: absolute;
  transform: translateX(-50%);
}

.landing .bullets li
{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 10px;
  border: 1px solid #fff;
}

.landing .bullets li.active
{
  border-color: var(--main-color);
  background-color: var(--main-color);
}

/* start services */
.services
{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

@media (min-width: 768px) {
  .services .services__container {
    display: grid;
    grid-row-gap: 60px;
    grid-column-gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(450px , 1fr))
  }
}

.services .srv__box
{
  display: flex;
}

.services .srv__box i
{
  margin-right: 50px;
}

@media (max-width: 767px) {
  .services .srv__box {
    display: flex;
    text-align: center;
    margin-bottom: 40px;
    flex-direction: column;
  }

  .services .srv__box i {
    margin: 0 0 30px;
  }

}

.services .srv__box h3
{
  margin-bottom: 2em;
  color: var(--main-color);
}

.services .srv__box p
{
  color: #777;
  line-height: 2;
}

/* start design */
.design
{
  height: 600px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  background-size: cover;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url(../images/design-features.jpg);
}

.design::before
{
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgb(0 0 0 / 60%);
}

.design .image,
.design .text
{
  flex: 1;
  z-index: 2;
  position: relative;
}

.design .image
{
  text-align: center;
}

@media (max-width: 767px) {
  .design .image {
    display: none;
  }
}

.design .image img
{
  bottom: -150px;
  position: relative;
}

.design .text
{
  padding: 50px;
  color: #fff;
  background-color: var(--transparent-color);
}

.design .text h2
{
  margin-bottom: 40px;
  font-weight: normal;
  text-transform: uppercase;
}

.design .text ul li
{
  padding: 15px 0;
}

.design .text ul li::before
{
  top: 1px;
  content: '\f108';
  font-weight: 900;
  position: relative;
  margin-right: 20px;
  font-family: 'Font Awesome 5 Free';
}

/* start portfolio */
.portfolio
{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.portfolio .shuffle
{
  display: flex;
  justify-content: center;
}

.portfolio .shuffle li
{
  padding: 10px;
}

.portfolio .shuffle li.active
{
  color: #fff;
  background-color: var(--main-color);
}

.portfolio .imgs__container
{
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
}

.portfolio .imgs__container .box
{
  overflow: hidden;
  position: relative;
}

.portfolio .imgs__container .box:hover .caption
{
  bottom: 0;
}

.portfolio .imgs__container .box:hover img
{
  transform: rotate(3deg) scale(1.1);
}

@media (min-width: 768px) {
  .portfolio .imgs__container .box {
    flex-basis: 50%;
  }
}

@media (min-width: 1199px) {
  .portfolio .imgs__container .box {
    flex-basis: 25%;
  }
}

.portfolio .imgs__container .box img
{
  max-width: 100%;
  transition: .4s;
}

.portfolio .imgs__container .box .caption
{
  left: 0;
  width: 100%;
  padding: 20px;
  bottom: -100%;
  transition: .4s;
  position: absolute;
  background-color: #fff;
}

.portfolio .imgs__container .box:hover .caption h4
{
  font-weight: normal;
  margin-bottom: 10px;
}

.portfolio .imgs__container .box:hover .caption p
{
  color: var(--main-color);
}

.portfolio .more
{
  color: #fff;
  display: block;
  margin: 30px auto;
  padding: 15px 20px;
  width: fit-content;
  text-transform: uppercase;
  background-color: var(--main-color);
}

/* start video */
.video
{
  position: relative;
}

.video::before
{
  top: 0;
  left: 0;
  width: 100%;
  content: '';
  height: 100%;
  position: absolute;
  background-color: rgb(0 0 0 / 40%);
}

.video video
{
  width: 100%;
}

.video .text
{
  top: 50%;
  width: 100%;
  padding: 50px;
  color: #fff;
  text-align: center;
  position: absolute;
  transform: translateY(-50%);
  background-color: var(--transparent-color);
}

.video .text h2
{
  margin: 0 0 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.video .text p
{
  margin-bottom: 30px;
}

.video .text button
{
  border: none;
  color: #fff;
  padding: 10px 20px;
  background-color: black;
  text-transform: uppercase;
}

/* start about  */
.about
{
  overflow: hidden;
  text-align: center;
  padding-top: var(--section-padding);
}

.about img
{
  bottom: -120px;
  max-width: 100%;
  position: relative;
  margin-top: -120px;
}

@media (max-width: 767px) {
  .about img {
    bottom: -60px;
    margin-top: -60px;
  }
}

/* start stats */
.stats
{
  text-align: center;
  position: relative;
  background-size: cover;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url(../images/stats.png);
}

.stats::before
{
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgb(0 0 0 / 70%);
}

.stats .container
{
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.stats .container .box
{
  padding: 50px;
  color: #fff;
  background-color: var(--transparent-color);
}

@media (max-width: 767px) {
  .stats .container .box {
    flex-basis: 100%;
  }
}

@media (min-width: 768px) {
  .stats .container .box {
    flex-basis: 50%;
  }
}

@media (min-width: 992px) {
  .stats .container .box {
    flex-basis: 25%;
  }
}

.stats .container .box i
{
  width: 40px;
  height: 40px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  margin: 0 auto 30px;
  justify-content: center;
  background-color: black;
}

.stats .container .box .number
{
  font-size: 50px;
  margin: 0 0 20px;
  font-weight: bold;
}

.stats .container .box p
{
  font-size: 14px;
}

/* start skills */
.our__skills
{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.our__skills .container
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (min-width: 992px) {
  .our__skills .container > div {
    flex-basis: 45%;
  }
}

.our__skills .container > div > h3
{
  margin: 0 0 30px;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
}

.our__skills .container > div > p
{
  color: #777;
  line-height: 1.8;
  text-align: center;
  margin-bottom: 60px;
}

.our__skills .testimonials .content
{
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.our__skills .testimonials .content img
{
  width: 100px;
  margin-right: 50px;
  border-radius: 50%;
}

@media (max-width: 767px) {
  .our__skills .testimonials .content {
    text-align: center;
    flex-direction: column;
  }

  .our__skills .testimonials .content img {
    margin: 0 auto 20px;
  }
}

.our__skills .testimonials .text
{
  line-height: 1.8;
  border-bottom: 1px solid #ccc;
}

.our__skills .testimonials .text p
{
  color: #777;
  font-size: 14px;
  text-align: right;
  margin-bottom: 10px;
}

.our__skills .testimonials .bullets
{
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  justify-content: center;
}

.our__skills .testimonials .bullets li
{
  width: 12px;
  height: 12px;
  margin-right: 10px;
  border-radius: 50%;
  border: 1px solid #aaa;
}

.our__skills .testimonials .bullets li.active
{
  border-color: var(--main-color);
  background-color: var(--main-color);
}

.our__skills .skills .prog__holder
{
  margin-bottom: 40px;
}

.our__skills .skills .prog__holder h4
{
  margin-bottom: 15px;
  font-weight: normal;
  text-transform: uppercase;
}

.our__skills .skills .prog__holder .prog
{
  height: 30px;
  background-color: #dedadc;
}

.our__skills .skills .prog__holder .prog span
{
  height: 100%;
  display: block;
  position: relative;
  background-color: var(--main-color);
}

.our__skills .skills .prog__holder .prog span::before
{
  top: -40px;
  width: 40px;
  right: -18px;
  color: #fff;
  padding: 4px 0;
  position: absolute;
  text-align: center;
  border-radius: 4px;
  background-color: black;
  content: attr(data-progress);
}

.our__skills .skills .prog__holder .prog span::after
{
  top: -15px;
  right: -8px;
  content: '';
  border-width: 8px;
  position: absolute;
  border-style: solid;
  border-color: black transparent transparent;
}

/* start quote  */
.quote
{
  color: #fff;
  text-align: center;
  position: relative;
  background-size: cover;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url(../images/quote.jpg);
}

.quote::before
{
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgb(0 0 0 / 75%);
}

.quote .container
{
  position: relative;
}

.quote q
{
  display: block;
  font-size: 30px;
  margin-bottom: 20px;
}

/* start pricing */
.pricing
{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.pricing .plans
{
  gap: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px , 1fr));
}

.pricing .plans .plan
{
  text-align: center;
  background-color: #fcfcfc;
}

.pricing .plans .plan .head
{
  padding: 30px 20px;
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
}

.pricing .plans .plan .head h3
{
  font-weight: normal;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.pricing .plans .plan .head span
{
  font-size: 60px;
  font-weight: bold;
}

.pricing .plans .plan .head span::before
{
  top: -40px;
  content: '$';
  font-size: 25px;
  margin-right: 15px;
  position: relative;
  font-weight: normal;
}

.pricing .plans .plan .head span::after
{
  right: -15px;
  content: '/Mo';
  font-size: 20px;
  position: relative;
}

.pricing .plans .plan ul
{
  border-bottom: 1px solid var(--main-color);
}

.pricing .plans .plan ul li
{
  padding: 20px;
  position: relative;
}

.pricing .plans .plan ul li:not(:last-child)::after
{
  left: 50%;
  bottom: 0;
  content: '';
  height: 1px;
  width: 140px;
  position: absolute;
  transform: translateX(-50%);
  background-color: var(--main-color);
}

.pricing .plans .plan .foot a
{
  display: block;
  margin: 30px auto;
  width: fit-content;
  padding: 20px 20px;
  border: 1px solid var(--main-color);
}

.pricing .contact__text
{
  font-size: 20px;
  text-align: center;
  margin: 50px auto 20px;
}

.pricing .contact__link
{
  color: #fff;
  display: block;
  margin: 20px auto;
  width: fit-content;
  padding: 15px 30px;
  background-color: var(--main-color);
}

/* start subscribe */
.subscribe
{
  color: #fff;
  position: relative;
  background-size: cover;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url(../images/subscribe.jpg);
}

.subscribe::before
{
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgb(0 0 0 / 50%);
}

.subscribe .container
{
  display: flex;
  position: relative;
  align-items: center;
}

@media (max-width: 991px) {
  .subscribe .container {
    flex-direction: column;
  }
}

.subscribe form
{
  width: 500px;
  display: flex;
  max-width: 100%;
  position: relative;
}

.subscribe form i
{
  top: 50%;
  left: 25px;
  position: absolute;
  transform: translateY(-50%);
}

.subscribe form input[type='email']
{
  background: none;
  border-right: none;
  border: 1px solid #fff;
  width: calc(100% - 130px);
  padding: 20px 20px 20px 60px;
  caret-color: var(--main-color);
}

.subscribe form input[type='submit']
{
  width: 130px;
  color: #fff;
  border-left: none;
  padding: 10px 20px;
  border: 1px solid #fff;
  text-transform: uppercase;
  background-color: var(--main-color);
}

.subscribe form input[type='email']:focus,
.subscribe form input[type='submit']:focus
{
  outline: none;
}

.subscribe form ::placeholder
{
  color: #fff;
}

.subscribe p
{
  line-height: 2;
  margin-left: 50px;
}

@media (max-width: 991px) {
  .subscribe p {
    margin: 0 0 30px;
    text-align: center;
  }
}

.contact
{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.contact .content
{
  display: flex;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .contact .content {
    flex-direction: column;
  }
}

.contact .content form
{
  flex-basis: 70%;
}

.contact .content form .main__input
{
  width: 100%;
  padding: 20px;
  display: block;
  margin-bottom: 30px;
  border: 1px solid #ccc;
}

.contact .content form .main__input:focus
{
  outline: none;
}

.contact .content form textarea.main__input
{
  height: 200px;
}

.contact .content form input[type="submit"]
{
  border: none;
  color: #fff;
  padding: 20px;
  display: flex;
  cursor: pointer;
  margin-left: auto;
  text-transform: uppercase;
  background-color: var(--main-color);
}

.contact .content .info
{
  flex-basis: 25%;
}

@media (max-width: 767px) {
  .contact .content .info {
    order: -1;
    text-align: center;
  }
}

.contact .content .info h4
{
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.contact .content .info .phone
{
  color: #777;
  display: block;
  margin-bottom: 10px;
}

.contact .content .info h4:nth-of-type(2)
{
  margin-top: 90px;
}

@media (max-width: 767px) {
  .contact .content .info h4:nth-of-type(2) {
    margin-top: 30px;
  }
}

.contact .content .info address
{
  color: #777;
  line-height: 2;
}

@media (max-width: 767px) {
  .contact .content .info address {
    margin-bottom: 40px;
  }
}

/* start footer */
.footer
{
  color: #fff;
  text-align: center;
  position: relative;
  background-size: cover;
  padding-top: calc(var(--section-padding) / 2);
  background-image: url(../images/subscribe.jpg);
  padding-bottom: calc(var(--section-padding) / 2);
}

.footer::before
{
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgb(0 0 0 / 70%);
}

.footer .container
{
  position: relative;
}

.footer img
{
  margin-bottom: 20px;
}

.footer p:not(.copyright)
{
  padding: 20px;
  font-size: 22px;
  margin: 20px auto;
  width: fit-content;
  text-transform: uppercase;
  border-bottom: 1px solid #fff;
}

.footer .social__icons i
{
  padding: 10px 15px;
}

.footer .copyright
{
  margin-top: 60px;
}

.footer .copyright span
{
  font-weight: bold;
  color: var(--main-color);
}